body{
    margin: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img{
    width:40%;
}

.card{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    text-align: center;
    width: 400px;
    margin: auto;
    background-color: rgb(142, 177, 216);
    border-bottom: 8px solid dimgrey;
    color: #2b2839;
    
}
